<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.EtuserDetailMapper">
  <resultMap id="BaseResultMap" type="com.entity.EtuserDetail">
    <id column="bid" jdbcType="INTEGER" property="bid" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="website" jdbcType="VARCHAR" property="website" />
    <result column="information" jdbcType="VARCHAR" property="information" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
  </resultMap>
  <sql id="Base_Column_List">
    bid, realname, address, phone, website, information, contact
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from etuserdetail
    where bid = #{bid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from etuserdetail
    where bid = #{bid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.EtuserDetail">
    insert into etuserdetail (bid, realname, address, phone, website, information ,contact)
    values (#{bid,jdbcType=INTEGER}, #{realname,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{website,jdbcType=VARCHAR}, #{information,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.EtuserDetail">
    insert into etuserdetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        bid,
      </if>
      <if test="realname != null">
        realname,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="website != null">
        website,
      </if>
      <if test="information != null">
        information,
      </if>
      <if test="contact != null">
        contact,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="website != null">
        #{website,jdbcType=VARCHAR},
      </if>
      <if test="information != null">
        #{information,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.EtuserDetail">
    update etuserdetail
    <set>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="website != null">
        #{website,jdbcType=VARCHAR},
      </if>
      <if test="information != null">
        #{information,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
    </set>
    where bid = #{bid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.EtuserDetail">
    update etuserdetail
    set realname=#{realname,jdbcType=VARCHAR},address=#{address,jdbcType=VARCHAR},phone=#{phone,jdbcType=VARCHAR},website=#{website,jdbcType=VARCHAR},information=#{information,jdbcType=VARCHAR},contact=#{contact,jdbcType=VARCHAR}
    where bid = #{bid,jdbcType=INTEGER}
  </update>
</mapper>